services:
  mongodb:
    image: mongo:7
    container_name: mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db
    environment:
      MONGO_INITDB_DATABASE: shopping_db

  payment-service:
    build:
      context: ./payment-service
      dockerfile: Dockerfile
    container_name: payment-service
    ports:
      - "8081:8081"
    environment:
      - PORT=8081
      - MONGO_URI=mongodb://mongodb:27017
      - DB_NAME=payment_db
    depends_on:
      - mongodb

  shopping-service:
    build:
      context: ./shopping-service
      dockerfile: Dockerfile
    container_name: shopping-service
    ports:
      - "8080:8080"
    environment:
      - PORT=8080
      - MONGO_URI=mongodb://mongodb:27017
      - DB_NAME=shopping_db
      - PAYMENT_SERVICE_BASE_URI=http://payment-service:8081
    depends_on:
      - mongodb
      - payment-service

volumes:
  mongodb_data:
